.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: @basic-white;
  border: none;
  padding: 0;
  cursor: pointer;
}
