.diets {
  display: flex;
  flex-direction: column;


  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 82px;
    padding-bottom: 71px;
  }
}

.diets__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.diet__item {
  list-style: none;
  background-color: @basic-light-grey;
  padding: 24px 33px 20px 20px;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-left: 53px;
    padding-bottom: 53px;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 570px;
  }
}

.diet__item:first-child {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
}

.diet__title {
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.diet__text {
  margin: 0;
  padding-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;
  border-bottom: 1px solid @content-border-grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
    width: 377px;
  }
}

.diet__item:nth-child(2) .diet__text {
  @media (min-width: @tablet-width) {
    width: 344px;
  }
}

.diet__link {
  display: inline-block;
  margin-top: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}
