.example {
  background-color: @basic-smoky-grey;
}

.example__wrapper {
  padding-top: 27px;
  padding-bottom: 30px;
}

.example__heading {
  margin-bottom: 33px;
}

.example__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
}

.example__description {
  margin-bottom: 42px;
}

.example__story {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-grey;
}

.example__story br {
  display: none;
}

.example__achievements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.example__achievement {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  min-height: 56px;
  border: 1px solid @basic-dark-grey;
  border-radius: 3px;
  text-align: center;
}

.example__value {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.example__meaning {
  position: absolute;
  left: auto;
  right: auto;
  bottom: 0;
  transform: translateY(50%);
  max-width: 70%;
}

.example__meaning-text {
  display: inline-flex;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: @special-grey;
  background-color: @basic-smoky-grey;
}

.example__meaning-text::before,
.example__meaning-text::after {
  content: "";
  margin-left: 10px;
}

.example__cost {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;
}

@media (min-width: @tablet-width) {
  .example {
    background: none;
  }

  .example__wrapper {
    padding-top: 43px;
    padding-bottom: 0;
  }

  .example__heading {
    margin-bottom: 63px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__story {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }

  .example__story br {
    display: block;
  }

  .example__data {
    display: flex;
    justify-content: space-between;
  }

  .example__achievements {
    margin-bottom: 0;
    min-height: 72px;
    min-width: 51.6%;
  }

  .example__achievement {
    min-width: 162px;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__description {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 87px;
  }

  .example__meaning {
    max-width: 90%;
  }

  .example__meaning-text {
    font-size: 14px;
    line-height: 14px;
    background-color: @basic-white;
  }

  .example__cost {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__cost-text {
    margin-bottom: 10px;
  }

  .example__cost-sum {
    margin-right: 5px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    position: relative;
    background-image: linear-gradient(90deg, @basic-light-grey 50%, @basic-smoky-grey 50%);
  }

  .example::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    height: 195px;
    width: 100vw;
    background-color: @basic-white;
  }

  .example .container {
    padding-right: 40px;
  }

  .example__wrapper {
    padding-top: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 153px;
  }

  .example__heading {
    margin-top: 58px;
    margin-bottom: 146px;
    z-index: 1;
  }

  .example__meaning-text {
    background-color: @basic-light-grey;
  }

  .example__description {
    margin-bottom: 0;
    min-width: 436px;
  }

  .example__story {
    margin-bottom: 69px;
  }

  .example__story br {
    display: none;
  }

  .example__data {
    display: flex;
    flex-direction: column;
  }

  .example__achievements {
    justify-content: flex-start;
  }

  .example__achievement {
    max-width: 162px;
  }

  .example__achievement:last-child {
    margin-left: 42px;
  }

  .example__cost {
    margin-top: 60px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .example__meaning {
    max-width: 92%;
  }

  .example__cost-text {
    margin-bottom: 0;
    margin-right: 63px;
  }
}
