.location__info {
  padding: 28px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    height: 201px;
    width: 570px;
    padding: 0;
    background-color: @basic-white;
  }
}

.location__invite {
  align-self: center;
}

.location__invite-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-black;
}

.location__address {
  align-self: center;
}

.location__address-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @special-grey;
}

.location__map {
  border: none;
  height: 362px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .location {
    position: relative;
  }

  .location__info {
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 51px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .location__invite-text {
    font-size: 20px;
    line-height: 21px;
  }

  .location__address-text {
    font-size: 16px;
    line-height: 20px;
  }

  .location__map {
    height: 400px;
  }
}
