.location__info {
  padding-top: 28px;
  padding-bottom: 24px;
  min-height: 114px;
  display: flex;
  justify-content: space-between;
}

.location__invite {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 88.5%;
  margin-right: auto;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: @special-black;
}

.location__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  margin-left: 15px;
  color: @special-grey;
}

.location__nav-map {
  position: relative;
  min-height: auto;
  width: auto;
}

.location__map {
  min-height: 362px;
  width: 100%;
  border: none;
}

.location__nav-map::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 170px;
  left: 50%;
  width: 58px;
  height: 55px;
  margin-left: -29px;
  background-image: url("../img/raster/map-pin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  z-index: 1;
}

.location--content-background-grey {
  background-color: @basic-light-grey;
}

@media (min-width: @tablet-width) {
  .location__info {
    padding: 66px 41px 51px 41px;
    min-height: 201px;
  }

  .location__invite {
    margin: 0;
    font-size: 20px;
    line-height: 1.2em;
    max-width: 175px;
  }

  .location__address {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    max-width: 160px;
  }

  .location__address .location__address-city {
    margin-top: 10px;
  }

  .location__map {
    min-height: 400px;
  }

  .location__nav-map::before {
    width: 114px;
    height: 106px;
    margin-left: -53px;
    bottom: 148px;
  }
}

@media (min-width: @desktop-width) {
  .location {
    position: relative;
  }

  .location__info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 95px;
    left: 110px;
    width: 570px;
    background-color: @basic-white;
    padding: 63px 89px 51px 76px;
    z-index: 2;
  }

  .location__address {
    text-align: start;
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .location__nav-map::before {
    top: 131px;
    left: 0;
    margin-left: 908px;
    bottom: 163px;
  }

  .location__address .location__address-city {
    margin-top: 18px;
  }
}
