.menu-nav__list {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.menu-nav__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 22px;
  padding-bottom: 24px;
}

.menu-nav__link {
  position: relative;
  color: @basic-black;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.menu-nav__link:hover {
  opacity: 0.6;
}

.menu-nav__link:active {
  opacity: 0.3;
}

.menu-nav__item::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 100vw;
  height: 1px;
  background-color: @basic-border-grey;
}

.menu-nav__item::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vw;
  height: 1px;
  background-color: @basic-border-grey;
}

.menu-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 20px;
  background-color: transparent;
  border: 0;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("../img/vector/menu-close.svg");
  background-size: 18px 18px;
}

@media (min-width: @tablet-width) {
  .menu-nav {
    margin-top: 16px;
    min-width: 440px;
  }

  .menu-nav__toggle {
    display: none;
  }

  .menu-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .menu-nav__item {
    padding: 0;
  }

  .menu-nav__item::after,
  .menu-nav__item::before {
    display: none;
  }

  .menu-nav__item--current {
    border-bottom: 2px solid @basic-green;
  }

  .menu-nav__link {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.5px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .menu-nav {
    max-width: 440px;
    min-width: 480px;
    margin-top: 12px;
    margin-right: -6.5px;
  }

  .menu-nav__link {
    font-size: 20px;
    line-height: 30px;
  }

  .page-header--index .menu-nav__link {
    font-size: 20px;
    line-height: 30px;
    color: @basic-white;
    z-index: 1;
  }

  .page-header--index .menu-nav__item--current {
    border-color: @basic-white;
    z-index: 1;
  }
}
