.page-footer {
  background-color: @basic-light-grey;
}

.page-footer__wrapper {
  padding: 37px 0 22px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  border-bottom: 1px solid @content-border-grey;
}

.page-footer__social {
  padding: 20px 77px 20px 73px;
  border-bottom: 1px solid @content-border-grey;
}

.page-footer__social-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.page-footer__social-item {
  display: flex;
  align-items: center;
  list-style: none;
}

.page-footer__social-link {
  color: @special-light-grey;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  cursor: pointer;
}

.page-footer__htmlacademy {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @special-grey;
}

.page-footer__htmlacademy-link {
  color: @special-light-grey;
}

.page-footer__logo-image:hover {
  opacity: 0.8;
}

.page-footer__logo-image:active {
  opacity: 0.6;
}

.page-footer__social-link:hover {
  color: @basic-green;
}

.page-footer__social-link:active {
  opacity: 0.3;
}

.page-footer__copyright:hover .page-footer__htmlacademy-link {
  color: @basic-green;
}

.page-footer__copyright:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 61px;
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    padding: 0;
    margin: 0;
    border-bottom: none;
  }

  .page-footer__social {
    display: flex;
    align-items: center;
    margin-left: 22px;
  }

  .page-footer__social-list {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    column-gap: 28px;
  }

  .page-footer__htmlacademy {
    margin-right: 22px;
  }

  .page-footer__social-vkontakte {
    width: 30px;
    height: 18px;
  }

  .page-footer__social-instagram {
    width: 23px;
    height: 23px;
  }

  .page-footer__social-facebook {
    width: 24px;
    height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 57px 0 58px;
  }
}
