.page-header {
  border-bottom: 1px solid @basic-border-grey;
}

.page-header__logo {
  width: 190px;
  height: 38px;
}

.page-header__content {
  padding: 12px 20px 17px;
  border-bottom: 1px solid @basic-border-grey;
}

.page-header__toggle {
  width: 18px;
  height: 18px;
  margin-left: 65px;
}
