.page-header__logo-link {
  display: block;
}

.page-header__logo {
  width: 190px;
  height: 38px;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px 17px;
  border-bottom: 1px solid @basic-border-grey;
}

.page-header__toggle {
  width: 18px;
  height: 18px;
  background-color: transparent;
  cursor: pointer;
}
