.program-comment {
  padding-bottom: 23px;
}

.program-comment__title {
  margin: 0;
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding-right: 22px;
  background-color: @basic-white;
}

.program-comment__title::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  top: 0.6em;
  left: 100%;
  width: 100vw;
  height: 2px;
  background-color: @basic-green;
}

.program-comment__text {
  width: 100%;
  min-height: 150px;
  border: 1px solid @basic-input-border;
  padding: 10px 12px 10px 15px;
  padding-right: 12px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-grey;
}

@media (min-width: @tablet-width) {
  .program-comment {
    padding-left: 40px;
    padding-right: 37px;
    padding-bottom: 0;
    margin-bottom: 65px;
  }

  .program-comment__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding-right: 38px;
    padding-left: 39px;
  }

  .program-comment__title::before {
    display: block;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0.6em;
    right: 100%;
    width: 100vw;
    height: 2px;
    background-color: @basic-green;
  }

  .program-comment__text {
    padding: 10px 19px;
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .program-comment {
    padding: 0;
    margin-bottom: 67px;
  }

  .program-comment__title {
    padding-right: 40px;
    padding-left: 40px;
  }
}
