.program-contacts {
  padding-top: 26px;
  padding-bottom: 23px;
}

.program-contacts__title {
  margin: 0;
  width: auto;
  margin-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding-right: 14px;
  background-color: @basic-white;
}

.program-contacts__subtitle {
  display: block;
}

.program-contacts__title::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  top: 0.6em;
  left: 100%;
  width: 100vw;
  height: 2px;
  background-color: @basic-green;
}

.program-contacts__list {
  display: grid;
  grid-row-gap: 14px;
}

.program-contacts__item {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: @input-mobile-height;
}

.program-contacts__icon-email {
  position: absolute;
  width: @icon-email-width;
  height: @icon-email-height;
  top: calc((@input-mobile-height - @icon-email-height) / 2);
  right: 16px;
}

.program-contacts__icon-tel {
  position: absolute;
  width: @icon-tel-size;
  height: @icon-tel-size;
  top: calc((@input-mobile-height - @icon-tel-size) / 2);
  right: 13px;
}

.program-contacts__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-grey;
}

.program-contacts__label-email {
  margin-right: 11px;
}

.program-contacts__label-tel {
  margin-right: 8px;
}

.program-contacts__input {
  min-height: @input-mobile-height;
  padding: 0 50px 0 15px;
  border: 1px solid @basic-input-border;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-grey;
  flex-grow: 1;
}

.program-contacts__input:hover {
  border-color: @basic-dark-grey;
}

.program-contacts__input:focus {
  outline: none;
  border: 2px solid @special-grey;
  padding-left: -1px;
}

.program-contacts__input:focus:invalid {
  outline: none;
  border: 2px solid @error-color;
  padding-left: -1px;


  & + svg {
    fill: @error-color;
  }
}

.program-contacts__input:focus:valid {
  outline: none;
  border: 2px solid @special-grey;

  & + svg {
    fill: @basic-green;
  }
}

@media (min-width: @tablet-width) {
  .program-contacts {
    padding-top: 0;
    margin-bottom: 65px;
    padding-left: 40px;
    padding-right: 35px;
    padding-bottom: 0;
  }

  .program-contacts__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    margin-left: -39px;
    padding-left: 39px;
    padding-right: 42px;
  }

  .program-contacts__subtitle {
    display: inline;
  }

  .program-contacts__title::before {
    display: block;
    content: "";
    position: absolute;
    z-index: 2;
    top: 0.6em;
    right: 100%;
    width: 100vw;
    height: 2px;
    background-color: @basic-green;
  }

  .program-contacts__list {
    row-gap: 20px;
  }

  .program-contacts__item {
    min-height: @input-tablet-height;
  }

  .program-contacts__label {
    font-size: 20px;
    line-height: 30px;
  }

  .program-contacts__label-email {
    margin-right: 18px;
  }

  .program-contacts__label-tel {
    margin-right: 14px;
  }

  .program-contacts__input {
    font-size: 20px;
    line-height: 30px;
    padding: 0 42px 0 21px;
    min-height: @input-tablet-height;
  }

  .program-contacts__icon-email {
    top: calc((@input-tablet-height - @icon-email-height) / 2);
    right: 19.47px;
  }

  .program-contacts__icon-tel {
    top: calc((@input-tablet-height - @icon-tel-size) / 2);
    right: 17px;
  }
}

@media (min-width: @desktop-width) {
  .program-contacts {
    padding: 0;
    margin-bottom: 67px;
  }

  .program-contacts__title {
    padding-right: 40px;
    padding-left: 40px;
  }

  .program-contacts__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 76px;
  }

  .program-contacts__label-email {
    margin-right: 20px;
  }

  .program-contacts__label-tel {
    margin-right: 15px;
  }

  .program-contacts__input {
    padding: 0 42px 4px 20px;
  }
}
