.program-profile {
  position: relative;
  padding-bottom: 24px;
}

.program-profile::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vw;
  height: 1px;
  background-color: @content-border-grey;
}

.program-profile::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 100vw;
  height: 1px;
  background-color: @content-border-grey;
}

.program-profile__list {
  display: grid;
  grid-row-gap: 11px;
}

.program-profile__item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
}

.program-profile__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-grey;
}

.program-profile__label-name {
  margin-right: 12px;
}

.program-profile__label-weight {
  margin-right: 16px;
}

.program-profile__label-age {
  margin-right: 10px;
}

.program-profile__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-grey;
  height: 45px;
  border: 1px solid @basic-input-border;
  padding: 0 18px;
  flex-grow: 1;
  box-sizing: content-box;
}

.program-profile__input:hover {
  border-color: @basic-dark-grey;
}

.program-profile__input:focus {
  outline: none;
  border: 2px solid @special-grey;
  padding-left: -1px;
}

.program-profile__input:focus:invalid {
  outline: none;
  border: 2px solid @error-color;
  padding-left: -1px;
}

@media (min-width: @tablet-width) {
  .program-profile {
    padding-bottom: 0;
    margin-bottom: 72px;
    border-bottom: none;
  }

  .program-profile::before,
  .program-profile::after {
    display: none;
  }

  .program-profile__list {
    grid-row-gap: 26px;
  }

  .program-profile__list-item {
    height: 54px;
  }

  .program-profile__label {
    font-size: 20px;
    line-height: 30px;
  }

  .program-profile__input {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-profile__label-name {
    margin-right: 16px;
  }

  .program-profile__label-weight {
    margin-right: 19px;
  }

  .program-profile__label-age {
    margin-right: 15px;
  }
}

@media (min-width: @desktop-width) {
  .program-profile {
    margin-bottom: 0;
  }

  .program-profile__input {
    padding: 0 20px;
  }

  .program-profile__label-name,
  .program-profile__label-weight,
  .program-profile__label-age {
    margin-right: 14px;
  }
}
