.program {
  padding-top: 27px;
  padding-bottom: 32px;
}

.program__heading {
  padding-left: 20px;
  padding-right: 20px;
}

.program__form {
  display: flex;
  flex-direction: column;
}

.program__title {
  margin: 0;
  margin-bottom: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  text-align-last: left;
}

.program__text {
  margin: 0;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-black;
}

.program__button {
  margin-bottom: 21px;
  width: 280px;
  height: 40px;
  background-color: @basic-green;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-white;
}

.program__note {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
}
