.promo {
  background-color: @background-green-mobile;
  background-image: url("../img/raster/promo-mobile-desktop@1x.jpg"), linear-gradient(180deg, @background-green-mobile 305px, @basic-white 305px);
  background-repeat: no-repeat;
  background-size: 320px 302px, 100%;
  background-position: top center;
  text-align: center;
  min-height: 302px;

  @media @retina {
    background-image: url("../img/raster/promo-mobile-desktop@2x.jpg"), linear-gradient(180deg, @background-green-mobile 305px, @basic-white 305px);
    background-size: 320px 302px, 100%;
  }
}

.promo__wrapper {
  height: auto;
}

.promo__title {
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @basic-white;
  text-transform: uppercase;
}

.promo__image {
  margin: 0 auto;
  height: 270px;
  width: 280px;
}

.promo__button {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  width: 100%;
  height: 40px;
  background-color: @basic-green;
  color: @basic-white;
}

@media (min-width: @tablet-width) {
  .promo {
    background: none;
  }

  .promo__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }

  .promo__title {
    padding: 0;
    text-align: left;
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    margin-top: 62px;
    margin-bottom: 41px;
    margin-left: 87px;
    margin-right: auto;
  }

  .promo__slogan {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    margin-left: 88px;
    margin-bottom: 49px;
    margin-right: auto;
  }

  .promo__product {
    order: 2;
    margin-top: -83px;
  }

  .promo__image {
    width: 709px;
    height: 609px;
    margin-left: auto;
    margin-right: auto;
  }

  .promo__button {
    z-index: 2;
    width: 245px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 84px;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    position: relative;
  }

  .promo__title {
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 40px;
    z-index: 2;
  }

  .promo__slogan {
    margin-left: 80px;
    margin-bottom: 52px;
    z-index: 2;
  }

  .promo__button {
    margin-left: 80px;
    margin-bottom: auto;
    margin-right: auto;
  }

  .promo__button:hover {
    background-color: @special-green;
  }

  .promo__button:active {
    color: @transparent-white;
  }

  .promo__product {
    margin: 0;
  }

  .promo__image {
    margin: 0;
    position: absolute;
    top: 0;
    left: 38.8%;
    width: 555px;
    height: 498px;
    z-index: 1;
  }
}
