//Colors

@outside-background-color: #e5e5e5;
@basic-white: #ffffff;
@basic-green: #68b738;
@special-green: #5eaa2f;
@transparent-green: rgba(104, 183, 56, 0.85);
@basic-input-border: #e7e7e7;
@basic-border-grey: #e6e6e6;
@content-border-grey: #d9d9d9;
@basic-grey: #ebebeb;
@basic-smoky-grey: #eaeaea;
@basic-light-grey: #f2f2f2;
@basic-dark-grey: #cdcdcd;
@toggle-background-gray: #dcdcdc;
@extra-grey: #d3d3d3;
@special-grey: #444444;
@special-light-grey: #666666;
@special-dark-grey: #222222;
@error-color: #ff8282;
@basic-black: #000000;
@basic-black-shadow: rgba(0, 0, 0, 0.25);
@special-black: #111111;


// Viewports

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;

@mobile-width-container: 640px;
@tablet-width-container: 1100px;
